<div class="bottom">
  <div class="container">
    <div class="logo-bottom">
      <%= image_pack_tag "Logo.svg", alt: "" %>
    </div>
    <div class="bottom-main d-flex justify-content-between">
      <div class="about">
        <h5>About</h5>
        <h4>
          We're a client-focused, corporate SMS provider you can count on...
          We are a privately held, self funded, profitable company based in Ajman, United Arab Emirates.
          We form that vital link between mobile networks and businesses who want to communicate via text message with their potential customers.
        </h4>
        <div>
          <%= image_pack_tag "payment_methods.svg", alt: "Rivet Payment Methods" %>
        </div>
      </div>
      <div class="contact-info">
        <h5>Contact Info</h5>
        <h6>Address</h6>
        <p>B1 422, Ajman Free Zone, Ajman, United Arab Emirates</p>
        <div class="d-flex">
          <div class="office-number">
            <h6>Office</h6>
            <p>00971 6 7474794</p>
          </div>
          
        </div>
        <div>
          <h6>Mobile</h6>
          <p>00971 52 708 8651</p>
        </div>
        <div>
          <h6>Mail</h6>
          <p style="margin-bottom: 0;">info@rivet.solutions</p>
        </div>
      </div>
      <%= render 'layouts/receive_callback_footer'%>
    </div>
  </div>
</div>

</div>
<footer>
  <div class="container d-flex justify-content-between align-items-center">
    <div class="fotter-iconbar d-flex align-items-center">
      <ul class="align-items-center">
        <li role="button"><a href="https://www.facebook.com/rivetsolutionsfze/" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li role="button"><a href="https://twitter.com/RivetSolution" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li role="button"><a href="https://www.instagram.com/rivetsolutionsfze/" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li role="button"><a href="https://www.linkedin.com/company/rivetsolutions/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li role="button"><a href="https://www.youtube.com/channel/UCJJp711qIrkI1y6fVhBuTOg?view_as=subscriber" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
      </ul>
      <p>&copy; 2013 - 2021 Rivet Solutions FZE All Rights Reserved.</p>
    </div>
    <div class="conditions">
      <div class="paypalimgbar">
        <%= image_pack_tag "payment_methods.svg", alt: "Rivet Payment Methods" %>
      </div>
      <div class="footerlinkbar">
        <a href="#">Terms & Conditions</a> | 
        <a href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>